<div id="parent-container">
  <div id="card-container">
    <mat-card class="example-card">
    <div class="container landscape">
    <img mat-card-image [src]="addIconImagePath" alt="Add Card" [routerLink]="'/overview/add'">
    </div>
    <mat-card-content>
      <mat-card-title [routerLink]="'/overview/add'">Add card</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Astrophysics</mat-card-title>
      <p>What should we put here?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Study</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
